@page "/code"

<PageTitle>Meine Projekte</PageTitle>

<h1>Meine Projekte</h1>

<p>Hier finden Sie eine auflistung meiner bisherigen Projekte in Form von Dokumentationen</p>

<h4>Abschlussprüfungsprojekt</h4>
<a href="ressorcen/Projekt%20Dokumentation%20Lukas%20Schütz.pdf" target="_blank">Projektarbeit der Abschlussprüfung</a>