@page "/"
@inject IJSRuntime JS
<PageTitle>Startseite - Über mich</PageTitle>

<div class="home-container">

    @* Linke Spalte mit dem Hauptinhalt *@
    <div class="main-content">

        <div class="eye-container">
        <div class="eye-ball">
        <div class="eye-pupil"></div>
        <div class="eye-lid"></div> </div>
       </div>
        <div class="hero-section">
            <h1>
                Hallo, ich bin <span id="typewriter-output" style="color: black"></span><span class="cursor">&nbsp;</span>
            </h1>
        </div>

        <h3>Mein Werdegang</h3>
        <p>Hier ist ein Überblick über meine schulische und berufliche Laufbahn.</p>

        <h4>Schulbildung</h4>
        <p>
            <span class="square-box" aria-hidden="true"></span>09/2004 - 07/2009 Comenius Grundschule, Buchloe
            <br /><span class="square-box" aria-hidden="true"></span>09/2009 - 07/2014 Regens-Wagner-Schule, Holzhausen, <strong>Mittelschulabschluss</strong>
            <br /><span class="square-box" aria-hidden="true"></span>09/2014 - 07/2015 Berufsvorbereitende Bildungsmaßnahme (BvB), Landsberg am Lech
        </p>

        <h4>Berufsausbildung</h4>
        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Verkäufer</strong> 09/2015 - 07/2017 CAP Markt, Penzing <br />
            <span class="square-box" aria-hidden="true"></span>Kundenberatung<br />
            <span class="square-box" aria-hidden="true"></span>Kassentätigkeit<br />
            <span class="square-box" aria-hidden="true"></span>Warenpräsentation
        </p>

        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Fachinformatiker für Anwendungsentwicklung</strong> 05/2023 - 08/2025 WBS Training AG, Landsberg am Lech <br />
            <span class="square-box" aria-hidden="true"></span>Umgang mit Hard- und Software <br />
            <span class="square-box" aria-hidden="true"></span>Objektorientierte Programmierung (OOP) <br />
            <span class="square-box" aria-hidden="true"></span>Projektmanagement <br />
            <span class="square-box" aria-hidden="true"></span>6 monatiges Praktikum bei der Firma <a href="https://versino.de/" target="_blank" rel="noopener noreferrer">Versino AG</a> in 86391 Stadtbergen
        </p>

        <h4>Beruflicher Werdegang</h4>
        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Verkäufer</strong> 08/2017 - 07/2020 Dorfladen Waal UG, Waal <br />
            <span class="square-box" aria-hidden="true"></span>Kundenberatung<br />
            <span class="square-box" aria-hidden="true"></span>Kassentätigkeit<br />
            <span class="square-box" aria-hidden="true"></span>Warenpräsentation<br />
        </p>

        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Kassen- und Servicemitarbeiter</strong> 08/2020 - 12/2021 Media Markt, Landsberg am Lech <br />
            <span class="square-box" aria-hidden="true"></span>Kundenberatung<br />
            <span class="square-box" aria-hidden="true"></span>Kassentätigkeiten<br />
            <span class="square-box" aria-hidden="true"></span>Finanzierungsberatung<br />
            <span class="square-box" aria-hidden="true"></span>Reparaturannahme und -ausgabe
        </p>

        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Verkäufer</strong> 03/2022 - 05/2022 Feneberg Lebensmittel GmbH, Landsberg am Lech <br />
            <span class="square-box" aria-hidden="true"></span>Kundenberatung<br />
            <span class="square-box" aria-hidden="true"></span>Kassentätigkeit<br />
            <span class="square-box" aria-hidden="true"></span>Warenpräsentation<br />
        </p>

        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Kassen- und Servicemitarbeiter</strong> 05/2022 - 05/2024 Media Markt, Landsberg am Lech <br />
            <span class="square-box" aria-hidden="true"></span>Kundenberatung<br />
            <span class="square-box" aria-hidden="true"></span>Kassentätigkeiten<br />
            <span class="square-box" aria-hidden="true"></span>Finanzierungsberatung<br />
            <span class="square-box" aria-hidden="true"></span>Reparaturannahme und -ausgabe
        </p>

        <p>
            <span class="square-box" aria-hidden="true"></span><strong>Fachinformatiker für Anwendungsentwicklung (Umschulungspraktikum)</strong> 09/2024 - 05/2025 Versino AG, Stadtbergen<br />
            <span class="square-box" aria-hidden="true"></span>Arbeit mit SAP Business One<br />
            <span class="square-box" aria-hidden="true"></span>Objektorientierte Programmierung mit C# und .NET<br />
            <span class="square-box" aria-hidden="true"></span>SQL-Abfragen und Datenbankmanagement<br />
            <span class="square-box" aria-hidden="true"></span>Kundentickets bearbeiten<br />
            <span class="square-box" aria-hidden="true"></span>Softwaretests und Fehlerbehebung<br />
        </p>

        <h4>Fähigkeiten & Kenntnisse</h4>
        <p>
            <span class="square-box" aria-hidden="true"></span>Elektronische Datenverarbeitung (EDV)<br />
            <span class="square-box" aria-hidden="true"></span>Microsoft Office (Word, Excel, PowerPoint)<br />
            <span class="square-box" aria-hidden="true"></span>Programmiersprachen (C#, C, HTML & CSS, Java)<br />
            <span class="square-box" aria-hidden="true"></span>SQL & MSSQL
        </p>
    </div>

    @* Rechte Spalte mit Bild und Infobox *@
    <div class="sidebar-content">
        <figure class="mein-Foto-wrapper">
            <img src="images/Foto.jpg" alt="Ein Bild von mir" class="mein-Foto" />
        </figure>
        <aside class="info-box" aria-label="Zusatzinformation">
            <h3><strong>Zur Person</strong></h3>
            <p>
                <strong>Name:</strong> Lukas Schütz<br />
                <strong>Geburtstag:</strong> 15.04.1998<br />
                <strong>Geburtsort:</strong> Buchloe, Bayern<br />
                <strong>Wohnort:</strong> Buchloe, Bayern<br />
                <strong>Stand:</strong> Ledig<br />
                <strong>StA:</strong> Deutsch<br />
                <strong>Beruf:</strong> Fachinformatiker für Anwendungsentwicklung<br />
            </p>
            <p>
                <h3><strong>Kontakt</strong></h3>
                <strong>E-Mail:</strong> lukasschuetz98@aol.com
            </p>
            <p>
                <h3><strong>Sprachen</strong></h3>
                <strong>Deutsch:</strong> Muttersprache<br />
                <strong>Englisch:</strong> Gute Kenntnisse<br />
            </p>
            <p>
                <h3><strong>Mobilität</strong></h3>
                <strong>Führerschein:</strong> Klasse B<br />
                Eigenes KFZ
            </p>
            <p>
                <h3><strong>Weiter-/Fortbildung</strong></h3>
                Brandschutz<br />
                Garantie-/Versichrungsfälle<br />
                Kundenmanagement
            </p>
            <p>
                <h3><strong>Interessen</strong></h3>
                <strong>Computer:</strong><br />
                Programmierung<br />
                Gaming<br />
                IT-Forensik
            </p>
        </aside>
    </div>

</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("typewriterEffect", "typewriter-output", "Lukas Schütz", 150);
            await Task.Delay(500);
            await JS.InvokeVoidAsync("initEyeTracking");
        }
    }
}